{% extends "base.html" %}

{% block content %}
<h3 class="m-4" style="text-align: center;">Add payment</h3>
<div class="">
    <form method="POST" action="payment">
        {% csrf_token %}
        <div class="form-group">
        {{ paymentForm.as_p }}
        </div>
        <div class="m-4">
            <p>
                <button class="btn button-colour positioning fixed-bottom rounded-0" style="margin-bottom: 50px;" type="submit"><strong class="button-colour positioning">Add payment</strong></button>
            </p>
        </div>
    </form>
</div>
{% endblock %}


