{% extends "base.html" %}

{% block content %}
<h3 class="m-4" style="text-align: center;">Edit payment</h3>
<div class="">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
        {{ editPaymentForm.as_p }}
        </div>
        <div class="">
            <p>
                <button class="btn button-colour positioning fixed-bottom rounded-0" style="margin-bottom: 51px;" type="submit"><strong class="button-colour positioning">Edit payment</strong></button>
            </p>
        </div>
    </form>
</div>
{% endblock %}