<nav class="navbar fixed-bottom colour-reverse">
    <a class="" data-toggle="modal" data-target="#accountCalculatorModal">
        <i class="fas fa-calculator fa-2x colour-reverse"></i>
    </a>
    <a class="" data-toggle="modal" data-target="#incomeOutgoingsModal">
        <i class="fas fa-pound-sign fa-2x colour-reverse"></i>
    </a>
</nav>

<!-- Outgoing / income Modal -->
<div class="modal fade" id="incomeOutgoingsModal" tabindex="-1" role="dialog" aria-labelledby="incomeOutgoingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0 colour-reverse positioning">
            <div class="modal-header rounded-0 border-0 colour-reverse positioning">
                <h3 class="modal-title rounded-0 border-0 colour-reverse positioning" id="incomeOutgoingsModalTitle"><strong class="colour-reverse positioning">Income & outgoings</strong></h3>
            </div>
            <div class="modal-body rounded-0 border-0 colour-reverse">
                <div class="row colour-reverse positioning">
                <p class="col colour-reverse positioning">Total income: £{{ sumOfIncome }}</p>
                </div>
                <div class="row colour-reverse positioning">
                <p class="col colour-reverse positioning">Total outgoings: £{{ sumOfPayments }}</p>
                </div>
                <div class="row colour-reverse positioning">
                <p class="col colour-reverse positioning">Difference: £{{ differenceBetweenIncomeAndPayments }}</p>
                </div>
            </div>
            <div class="modal-footer rounded-0 border-0 colour-reverse positioning">
                <button type="button" class="btn colour-true positioning" data-dismiss="modal"><strong class="positioning">Close</strong></button>
            </div>
        </div>
    </div>
</div>
<!-- End Outgoing / income Modal -->

<!-- Account Calculator Modal -->
<div class="modal fade" id="accountCalculatorModal" tabindex="-1" role="dialog" aria-labelledby="accountCalculatorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0 colour-reverse positioning">
            <div class="modal-header rounded-0 border-0 colour-reverse positioning">
                <h3 class="modal-title rounded-0 border-0 colour-reverse positioning" id="accountCalculatorModalTitle"><strong class="colour-reverse positioning">Accounts</strong></h3>
            </div>
            <div class="modal-body rounded-0 border-0 colour-reverse">
                <div class="row colour-reverse positioning">
                    <p class="col colour-reverse positioning">Still to be paid: £{{ remainingMonthlyPaymentsTotal }}</p>
                </div>
                <div class="row colour-reverse positioning">
                    <p class="col-4 colour-reverse positioning"></p>
                    <p class="col-4 colour-reverse positioning">Joint account</p>
                    <p class="col-4 colour-reverse positioning">Personal account</p>
                </div>
                <div class="row colour-reverse positioning">
                    <p class="col-4 colour-reverse positioning"><strong class="colour-reverse positioning">Oustanding</strong></p>
                    <p class="col-4 colour-reverse positioning">£{{ remainingMonthlyPaymentsJoint }}</p>
                    <p class="col-4 colour-reverse positioning">£{{ remainingMonthlyPaymentsBen }}</p>
                </div>
                <div class="row colour-reverse positioning">
                    <p class="col-4 colour-reverse positioning"><strong class="colour-reverse positioning">Balance</strong></p>
                    <p class="col-4 colour-reverse positioning">£{{ jointAccountBalance }}</p>
                    <p class="col-4 colour-reverse positioning">£{{ personalAccountBalance }}</p>
                </div>
                <div class="row colour-reverse positioning">
                    <p class="col-4 colour-reverse positioning"><strong class="colour-reverse positioning">Required</strong></p>
                    <p class="col-4 colour-reverse positioning">£{{ jointAccountRequirement }}</p>
                    <p class="col-4 colour-reverse positioning">£{{ personalAccountRequirement }}</p>
                </div>
                
            </div>
            
            <div class="modal-footer rounded-0 border-0 colour-reverse positioning">
                <button type="button" class="btn colour-true positioning" data-dismiss="modal"><strong class="positioning">Close</strong></button>
            </div>
        </div>
    </div>
</div>
<!-- Account Calculator Modal -->


