<nav class="navbar fixed-bottom colour-reverse">
    <a class="" data-toggle="modal" data-target="#accountCalculatorModal">
        <i class="fas fa-calculator fa-2x colour-reverse"></i>
    </a>
    <a class="" data-toggle="modal" data-target="#incomeOutgoingsModal">
        <i class="fas fa-pound-sign fa-2x colour-reverse"></i>
    </a>
</nav>

<!-- Outgoing / income Modal -->
<div class="modal fade" id="incomeOutgoingsModal" tabindex="-1" role="dialog" aria-labelledby="incomeOutgoingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0 colour-reverse positioning">
            <div class="modal-header rounded-0 border-0 colour-reverse positioning">
                <h3 class="modal-title rounded-0 border-0 colour-reverse positioning" id="incomeOutgoingsModalTitle"><strong class="colour-reverse positioning">Income & outgoings</strong></h3>
            </div>
            <table class="colour-reverse">
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                    Total income:
                    </td>
                    <td class="colour-reverse" style="text-align: centre;">
                    £{{ sumOfIncome }}
                    </td>
                </tr>
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                    Total outgoings:
                    </td>
                    <td class="colour-reverse" style="text-align: centre;">
                    £{{ sumOfPayments }}
                    </td>
                </tr>
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                    Difference:
                    </td>
                    <td class="colour-reverse" style="text-align: centre;">
                    £{{ differenceBetweenIncomeAndPayments }}
                    </td>
                </tr>
            </table>
            <div class="modal-footer rounded-0 border-0 colour-reverse positioning">
                <button type="button" class="btn colour-true positioning" data-dismiss="modal"><strong class="positioning">Close</strong></button>
            </div>
        </div>
    </div>
</div>
<!-- End Outgoing / income Modal -->

<!-- Account Calculator Modal -->
{% for balance in balances %}
<div class="modal fade" id="accountCalculatorModal" tabindex="-1" role="dialog" aria-labelledby="accountCalculatorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0 colour-reverse positioning">
            <div class="modal-header rounded-0 border-0 colour-reverse positioning">
                <h3 class="modal-title rounded-0 border-0 colour-reverse positioning" id="accountCalculatorModalTitle"><strong class="colour-reverse positioning">Accounts</strong></h3>
            </div>
            <div class="modal-body rounded-0 border-0 colour-reverse">
                <h5 class="colour-reverse"><strong class="colour-reverse">Still to be paid this month: £{{ remainingMonthlyPaymentsTotal }}</strong></h5>
            </div>
            <div class="modal-body rounded-0 border-0 colour-reverse">
                <table class="colour-reverse">
                <tr class="colour-reverse">
                    <td class="colour-reverse">
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    Joint
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    Personal
                    </td>
                </tr>
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                        Outstanding:
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ remainingMonthlyPaymentsJoint }}
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ remainingMonthlyPaymentsBen }}
                    </td>
                </tr>
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                        Balance:
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ balance.joint_account_balance }}
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ balance.personal_account_balance }}
                    </td>
                </tr>
                <tr class="colour-reverse">
                    <td class="colour-reverse" style="text-align: right;">
                        Difference:
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ jointAccountRequirement }}
                    </td>
                    <td class="colour-reverse" style="text-align: center;">
                    £{{ personalAccountRequirement }}
                    </td>
                </tr>
            </table>
            </div>
            <div class="modal-footer rounded-0 border-0 colour-reverse positioning">
                 <a href="/edit_balance/{{ balance.id }}">
                    <button type="button" class="btn btn-success positioning"><strong class=" btn-success positioning">Update</strong></button>
                </a>
                <button type="button" class="btn colour-true positioning" data-dismiss="modal"><strong class="positioning">Close</strong></button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Account Calculator Modal -->


