{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    {% for payment in payments %} 
    <div class="row payment-details">
        <div class="col-1 payment-detail-boxes">
            <a class="payment-detail-boxes" data-toggle="modal" data-target="#paymentInformationModal">
                <i class="fas fa-info-circle colour-true"></i>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="paymentInformationModal" tabindex="-1" role="dialog" aria-labelledby="paymentInformationModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentInformationModalTitle">{{ payment.payment_recipient }}</h5>
                    </div>
                    <div class="modal-body">
                        <p>Due date: {{ payment.payment_date }}</p>
                        <p>Account: {{ payment.payment_account }}</p>
                        <p>Category: {{ payment.payment_category }}</p>
                        <p>Payment owner: {{ payment.payment_owner }}</p>
                        <p>Completion date: {{ payment.payment_completion_date }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn colour-reverse" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end  -->

        {% if payment.has_paid %}
        <div class="col-8 payment-detail-boxes payment-made">
            {{ payment.payment_recipient }}
        </div>
        {% else %}
        <div class="col-8 payment-detail-boxes">
            {{ payment.payment_recipient }}
        </div>
        {% endif %}

        {% if payment.has_paid %}
        <div class="col-3 payment-detail-boxes payment-made">
            {{ payment.instalment_amount }}
        </div>
        {% else %}
        <div class="col-3 payment-detail-boxes">
            {{ payment.instalment_amount }}
        </div>
        {% endif %}
       
        
    </div>

    <!-- <div class="row">
        <div class="col-4">Due date: {{ payment.payment_date }}</div>
        <div class="col-4">{{ payment.payment_account }}</div>
        <div class="col-4">Completion: {{ payment.payment_completion_date }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ payment.payment_category }}</div>
        <div class="col-6">{{ payment.payment_owner }}</div>
            
    
        </div>
    </div> -->
           
   
    <div class="row payment-options">
        <div class="col payment-options-btn-box">
            <a href="/has_paid/{{ payment.id }}">
                <i class="fas fa-check colour-true"></i>
            </a>
            <a href="/edit_payment/{{ payment.id }}">
                <i class="fas fa-edit colour-true"></i>
            </a>
            <a class="" data-toggle="modal" data-target="#deletePaymentModal">
                <i class="fas fa-trash colour-true"></i>
            </a>
        </div>
    </div>

    <!-- Modal -->
        <div class="modal fade" id="deletePaymentModal" tabindex="-1" role="dialog" aria-labelledby="deletePaymentModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentInformationModalTitle">Do you really want to delete the payment for:</h5>
                    </div>
                    <div class="modal-body">
                        <p>{{ payment.payment_recipient }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/delete_payment/{{ payment.id }}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <button type="button" class="btn colour-reverse" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end  -->

    {% empty %}
    <div class="row">
        <div class="col-12">
            <p>There are no payments to be made.</p>
        </div>
    </div>
    {% endfor %}

    
    <h1>{{ sumOfPayments }}</h1>
    <h1>{{ sumOfIncome }}</h1>
    <h1>{{ incomePaymentsDifference }}</h1>
    <h1>{{ remainingMonthlyPaymentsTotal }}</h1>
    <h1>{{ remainingMonthlyPaymentsJoint }}</h1>
    <h1>{{ remainingMonthlyPaymentsBen }}</h1>
    <h1>{{ bankAccountAmount }}</h1>
     
    



    <!-- <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar fixed-bottom colour-reverse">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-pound-sign colour-reverse"></i>
        </button>
    </nav> -->
    
</div>

{% endblock %}