<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>Monthly direct debits</p>

    <table>
        {% for payment in payments %}            
            <tr>
                {% if payment.has_paid %}
                    <td><strike>{{ payment.payment_recipient }}</strike></td>
                {% else %}
                    <td>{{ payment.payment_recipient }}</td>
                {% endif %}
                    <td>{{ payment.instalment_amount }}</td>
                    <td>{{ payment.payment_account }}</td>
                    <td>{{ payment.payment_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>There are no payments to be made.</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        {% for income in incomes %}            
            <tr>
                <td>{{ income.income_stream }}</td>
                <td>{{ income.income_amount }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>There is no household income.</td>
            </tr>
        {% endfor %}
    </table>

    <a href="/add">Add a new payment</a>

    <a href="/income">Add a new source of income</a>
    
</body>

</html>