<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/monthly_budget/style.css' %}">

<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Direct debit Manager</title>
</head>

<body>

<nav class="navbar nav-expand-lg fixed-top navbar-page-title colour-reverse">
    <div class="dropdown navbar-dropdown">
        <a class="" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-caret-down colour-reverse"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul class="list-group">
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/">View payments</a>
                </li>
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/monthly_income_list">View income</a>
                </li>
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/payment">Add payment</a>
                </li>
            </ul>
        </div>
    </div>
    <a class="navbar-page-title colour-reverse" href="/">Direct Debit Manager</a>
</nav>

<div class="container-fluid">

    {% for payment in payments %} 
    <div class="row payment-details">
        <div class="col-1 payment-detail-boxes">
            <a class="payment-detail-boxes" data-toggle="modal" data-target="#paymentInformationModal">
                <i class="fas fa-info-circle colour-true"></i>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="paymentInformationModal" tabindex="-1" role="dialog" aria-labelledby="paymentInformationModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="paymentInformationModalTitle">{{ payment.payment_recipient }}</h5>
                    </div>
                    <div class="modal-body">
                        <p>Due date: {{ payment.payment_date }}</p>
                        <p>Account: {{ payment.payment_account }}</p>
                        <p>Category: {{ payment.payment_category }}</p>
                        <p>Payment owner: {{ payment.payment_owner }}</p>
                        <p>Completion date: {{ payment.payment_completion_date }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn colour-reverse" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end  -->

        {% if payment.has_paid %}
        <div class="col-8 payment-detail-boxes payment-made">
            {{ payment.payment_recipient }}
        </div>
        {% else %}
        <div class="col-8 payment-detail-boxes">
            {{ payment.payment_recipient }}
        </div>
        {% endif %}

        {% if payment.has_paid %}
        <div class="col-3 payment-detail-boxes payment-made">
            {{ payment.instalment_amount }}
        </div>
        {% else %}
        <div class="col-3 payment-detail-boxes">
            {{ payment.instalment_amount }}
        </div>
        {% endif %}
    </div>

    <!-- <div class="row">
        <div class="col-4">Due date: {{ payment.payment_date }}</div>
        <div class="col-4">{{ payment.payment_account }}</div>
        <div class="col-4">Completion: {{ payment.payment_completion_date }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ payment.payment_category }}</div>
        <div class="col-6">{{ payment.payment_owner }}</div>
            
    
        </div>
    </div> -->
           
   
    <div class="row payment-options">
        <div class="col payment-options-btn-box">
            <a href="/has_paid/{{ payment.id }}">
                <i class="fas fa-check colour-true"></i>
            </a>
            <a href="/edit_payment/{{ payment.id }}">
                <i class="fas fa-edit colour-true"></i>
            </a>
            <a href="/delete_payment/{{ payment.id }}">
                <i class="fas fa-trash colour-true"></i>
            </a>
        </div>
    </div>

    {% empty %}
    <div class="row">
        <div class="col-12">
            <p>There are no payments to be made.</p>
        </div>
    </div>
    {% endfor %}



    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar fixed-bottom colour-reverse">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-pound-sign colour-reverse"></i>
        </button>
    </nav>
    
</div>
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

</body>

</html>