<nav class="navbar nav-expand-lg fixed-top navbar-page-title colour-reverse">
    <div class="dropdown navbar-dropdown">
        <a class="" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-caret-down colour-reverse"></i>
        </a>
        <div class="dropdown-menu rounded-0 border-0 colour-reverse positioning" aria-labelledby="dropdownMenuLink">
            <ul class="list-group rounded-0 border-0 colour-reverse positioning">
                <li class="list-group-item navbar-dropdown rounded-0 border-0 positioning">
                    <a class="colour-reverse rounded-0 border-0 positioning" href="/monthly_income_list">View income</a>
                </li>
                <li class="list-group-item navbar-dropdown rounded-0 border-0 positioning">
                    <a class="colour-reverse rounded-0 border-0 positioning" href="/payment">Add payment</a>
                </li>
                <li class="list-group-item navbar-dropdown rounded-0 border-0 positioning">
                    <a class="colour-reverse rounded-0 border-0 positioning" href="/income">Add income</a>
                </li>
                <li class="list-group-item navbar-dropdown rounded-0 border-0 positioning">
                    <a class="colour-reverse rounded-0 border-0 positioning" href="/balance">Add balance</a>
                </li>
            </ul>
        </div>
    </div>
    <a href="/"><img src="../../staticfiles/admin/img/billsLogos/bills-tick-40.png"></a>
</nav>