<nav class="navbar nav-expand-lg fixed-top navbar-page-title colour-reverse">
    <div class="dropdown navbar-dropdown">
        <a class="" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-caret-down colour-reverse"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <ul class="list-group">
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/">View payments</a>
                </li>
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/monthly_income_list">View income</a>
                </li>
                <li class="list-group-item navbar-dropdown">
                    <a class="colour-reverse dropdown-option" href="/payment">Add payment</a>
                </li>
            </ul>
        </div>
    </div>
    <a class="navbar-page-title colour-reverse" href="/">Direct Debit Manager</a>
</nav>