@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

html {
  margin: 0;
  overscroll-behavior: none;
}

* {
    background-color: white;
    color: #10559A;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
}

.container-fluid {
    padding-top: 46px;
    padding-bottom: 51px;
}

.positioning {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.positioning-right {
    display: flex;
    justify-content: flex-end;
    align-content: center !important;
    width: 100%;
    margin: 0 !important;
}

.positioning-left {
    display: flex;
    justify-content: flex-start;
    align-content: center !important;
    width: 100%;
    margin: 0 !important;
}

.modal-table-content-positioning{
    text-align: center;
}

.colour-true {
    background-color: white !important;
    color: #10559A !important;
}

.colour-reverse {
    background-color: #10559A !important;
    color:white !important;
}

.button-colour {
    background-color: #D96871 !important;
    color:white !important;
}

.input-box {
    border-color: #F9C6D7;
}

.payment-made {
    color: gray;
}

.dropdown {
    position: static !important;
}

.navbar-page-title {
    font-size: 20px;
}

.navbar-dropdown{
    background-color: #10559A !important;
}

.dropdown-menu {
    background-color: #10559A !important;
    width: 100%;
    margin: 0 !important;
    padding: 0px !important;
}

.payment-details {
    
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.payment-detail-boxes {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.payment-options {
    border-bottom: 4px dotted #F9C6D7;
    padding-bottom: 10px;
}

.payment-options-btn-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}






