@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

* {
    background-color: #192851;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

button {
    background: #68D9CF;
    color: #192851;
    font-weight: bolder;
    font-size: 20px; 
    line-height: 20px; 
    padding: 9px;
    border-radius: 50px;
}

button:hover {
background: #1C6EA4; }
button:active {
background: #144E75; }
