@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300&display=swap');

* {
    background-color: #192851;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
}

.container-fluid {
    padding-top: 46px;
}

.colour-true {
    background-color: #192851;
    color: #68D9CF;
}

.colour-reverse {
    background-color: #68D9CF;
    color: #192851;
}

.payment-made {
    color: gray;
}

.dropdown {
    position: static !important;
}

.navbar-page-title {
    font-size: 20px;
}

.navbar-dropdown{
    background-color: #68D9CF !important;
}

.dropdown-menu {
    background-color: #68D9CF !important;
    width: 100%;
    margin: 0 !important;
    padding: 0px !important;
}

.dropdown-option {
padding: 5px;
margin-top: 15px;
margin-bottom: 15px;
}

.dropdown-divider {
    border-color: #192851 !important;
}

.payment-details {
    
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.payment-detail-boxes {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.payment-options {
    border-bottom: 4px dotted #68D9CF;
    padding-bottom: 10px;
}

.payment-options-btn-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* --------------------------------------------------------------------------------------MODAL */
.modal-styling {
    background-color: #68D9CF !important;
    color: #192851 !important;
}

.modal-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

